
.manue{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:95%;
    margin:0 auto;
}
.manue a{
    /* text-decoration: none; */
    color: #7cc5d9;
    font-weight: bold;
}
.tablee{
    margin-top: 10%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;   
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }